<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppKey</key>
	<string>7C9E6679-7425-40DE-944B-E07FC1F90AE7</string>
	<key>VkAppId</key>
	<string>6405331</string>
	<key>InstagramAppId</key>
	<string>2163945602404f8686ed989d234ebb88</string>
	<key>ServerUrl</key>
	<string>http://restomania.azurewebsites.net</string>
	<key>AppType</key>
	<string>Chain</string>
	<key>AppUserRole</key>
	<string>User</string>
	<key>ChainId</key>
	<integer>1</integer>
	<key>PaymentSystem</key>
	<integer>4</integer>
	<key>Currency</key>
	<integer>643</integer>
</dict>
</plist>
