<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Restomania.App.Kuzina.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1FC5A69B1F138A8600ABE1A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FC5A6AF1F138A8600ABE1A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FC5A6BA1F138A8600ABE1A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
