<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppKey</key>
	<string>936DA01F-9ABD-4D9D-80C7-02AF85C822A8</string>
	<key>vkAppid</key>
	<integer>0</integer>
	<key>instagramAppid</key>
	<integer>0</integer>
	<key>instagramAppSecret</key>
	<string></string>
	<key>ServerUrl</key>
	<string>http://restomania-test.azurewebsites.net</string>
	<key>AppType</key>
	<string>Chain</string>
	<key>AppUserRole</key>
	<string>User</string>
	<key>ChainId</key>
	<integer>1</integer>
	<key>PaymentSystem</key>
	<integer>4</integer>
	<key>Currency</key>
	<integer>643</integer>
</dict>
</plist>
