<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>704299430472-246l4n6d67kguose4kukrumbkjedvouo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704299430472-246l4n6d67kguose4kukrumbkjedvouo</string>
	<key>API_KEY</key>
	<string>AIzaSyArKxqCgRH-jW-lI_f3UFDvM9NTYVWML1o</string>
	<key>GCM_SENDER_ID</key>
	<string>704299430472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mds.mobile.restomania.custom.kuzina</string>
	<key>PROJECT_ID</key>
	<string>res-kuzina</string>
	<key>STORAGE_BUCKET</key>
	<string>res-kuzina.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704299430472:ios:c1f3cf659a453d07</string>
	<key>DATABASE_URL</key>
	<string>https://res-kuzina.firebaseio.com</string>
</dict>
</plist>