<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppType</key>
	<string>Network</string>
	<key>ClientAppType</key>
	<string>User</string>
	<key>PlacesIDs</key>
	<string>[21,22,23]</string>
	<key>ServerUrl</key>
	<string>http://restomania-test.azurewebsites.net</string>
</dict>
</plist>
